<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h3>Registration Numbers</h3>
      <form action="/reg_numbers" method='post'>
        Registration <input class="input" id='search' placeholder="'eg CA 234 345'" name="numberplate" maxlength="10"
          value="">
        <button class="bttn" type="submit" name="button">ADD</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class='twelve columns' id='city'>

      <form action="/town" method="POST">
        <select name="townId" >
          <option value="all">All</option>
          {{#each capeTown}}
          <option value="{{id}}">{{town_name}}</option>
          {{/each}}
        </select>
        <button type="submit">Filter</button>
      </form>

      <a href='/reseting'><button class="reset">Reset</button></a>
    </div>
  </div>
  <div class="row">
    {{#if message.info}}
    <div class="twelve columns" id="errors">
      <p></p>
    </div>
    {{/if}}
  </div>
  <div class="row">
      {{#each registrationList}}
      <div class="twelve columns" id="messages">
        {{registration}}
      </div>
      {{/each}}
  </div>
</div>