<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h3>Registration Numbers</h3>
      <form action="/reg_numbers" method='post'>
        Registration <input pattern="/[A-Z]{2}\s\d{3}\W\d{3}|[A-Z]{2}\s\d{3}\W\d{3}|[A-Z]{2}\s\d{6}" class="input" id='search' placeholder="eg CA 234 345" name="numberplate" maxlength="10"
          value="">
        <button class="bttn" type="submit" name="button">ADD</button>
      </form>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class='twelve columns' id='city'>

      <form action="/town/{{plates}}" method="POST">
        <select name="townRegNo">
          <option value="All">All</option>
          {{#each allTowns}}
          <option value="{{starts_with}}">{{town_name}}</option>
          {{/each}}
        </select>
        <button type="submit" id='filter'>Filter</button>
      </form>

      <a href='/reseting'><button class="reset">Reset</button></a>
    </div>
  </div>
  <div class="row">
    {{#if message.info}}
    <div class="twelve columns" id="errors">
    </div>
    {{/if}}
  </div>
  <div class="row">
     
      {{#each registrationList}}
      <div class="twelve columns" id="messages">
        {{registration}}
      </div>
      {{/each}}
  </div>
    <hr>
  <footer>Done @ Cwenga Mgqobozi</footer>
</div>
