 <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Registration Numbers</h3>
        <form action="/reg_numbers" method='post'>
        Registration number <input class="input" placeholder="'eg CA 234 345'" name="numberplate" value="">
        <button class="bttn" type="submit" name="button">ADD</button>
        </form>
      </div>
    </div>
    <div class="row">
      <select>
        <option value="all">All</option>
        <option value="cpt">Cape Town</option>
        <option value="malmsebury">Malmesbury</option>
        <option value="worcester">Worcester</option>
        <option value="bellville">Bellville</option>
      </select>
      <a href='/reseting'><button class="reset">Reset</button></a>
    </div>
    <div class="row">
      {{#if message.info}}
      <div class="twelve columns" id="errors">
        <p></p>
      </div>
      {{/if}}
    </div>
    <div class="row">
      <div class="twelve columns" id="messages">
        <p>{{registrations.regist}}</p>
      </div>
    </div>
  </div>
