.container {
    text-align: center;
}
input {
    height: 2em;
    border-radius: 3px;
}
 .bttn {
    color: #FFF;
    background-color: #33C3F0;
 } 
 .reset {
     color: #FFF;
     background-color: #9A0E2A;
     margin-bottom: 8rem;
 }
#messages {
    border: 0.1em solid black;
    width: 8em;
    border-radius: 6px;
    background-color: yellow;
    text-align: center;
    height: 2.7em;
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
    color: #333;
    /* font-size: 100%; */
}
footer {
    margin-top: 50px;
}
h3 {
    color: #9A0E2A;
    font-weight: bold;
}
#errors {
    font-weight: bold;
}
#filter {
    color: #fff;
    background-color: #33C3F0;
}