.container {
    text-align: center;
}
 .bttn {
    color: #FFF;
    background-color: #33C3F0;
 } 
 .reset {
     color: #FFF;
     background-color: #9A0E2A;
     margin-bottom: 8rem;
 }
#messages {
    border: 3px solid black;
    width: 10em;
    border-radius: 6px;
    background-color: yellow;
    text-align: center;
    height: 2em;
    margin: 5px;
}